.mainContainer {
  display: flex;
  flex-direction: column;
  /* height: 60rem; */
  /* margin-bottom: 110vh; */
  /* position: inherit; */
  background-image: url("../../img/bg5.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  background-position: center; /* Center the image within the container */
}

.modal-custom-box{
  background: linear-gradient(
    to bottom right,
    #800080,
    #ffc0cb
  ),
  linear-gradient(360deg, #ff5733, #6dab50);
  color: white;
}

.mainHeader {
  margin-top: 4%;
  margin-left: 10vw;
  align-self: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--darkBlue);
  /* border-bottom: 2px solid var(--darkBlue); */
  width: 30%;
}

.firstRow {
  padding: 1rem 0rem 0rem 0rem;
  flex: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: #72d59f; */
}

.secondRow {
  padding: 0rem 0rem 0rem 0rem;
  flex: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.smallBorder {
  align-self: center;
  /* margin-left: 5rem; */
}

.cardMain {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 30vw;
  height: 30rem;
  border-radius: 50px;
  /* background-color: lightskyblue; */
  background: linear-gradient(
      to bottom left,
      rgba(114, 4, 142, 0.9),
      #9D4EDD
    ),
    linear-gradient(360deg, #ff5733, #6dab50);
  padding: 0.2rem 1rem 0.2rem 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Add a transition for background color change */
  transform: scale(0.8);
  /* Initial scale down the container */
  /* transform-origin: center; */
  align-items: center;
}

.icon {
  align-self: center;
  transform: scale(0.7);
}

.headerText {
  padding: 1.5rem 2rem;
  text-align: center;
  align-self: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: -0.1rem;
}

.headerText2 {
  text-align: center;
  align-self: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: -1.3rem;
  margin-bottom: 1rem;
}

.paraText {
  /* margin-top: -0.5rem; */
  margin: 0;
  margin-left: 1rem;
  text-align: start;
  /* align-self: center; */
  /* justify-self: center; */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  width: 90%;
}

.hyperLink {
  text-align: center;
  align-self: center;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: wheat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.cardMain:hover {
  background: linear-gradient(
      to bottom right,
      #800080,
      #ffc0cb
    ),
    linear-gradient(360deg, #ff5733, #6dab50);
  transform: scale(0.9);
}

.cardMain:hover .headerText,
.cardMain:hover .headerText2,
.cardMain:hover .paraText,
.cardMain:hover .hyperLink {
  color: white;
}

@media screen and (max-width: 900px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    /* height: 300vh; */
    /* margin-bottom: 110vh; */
    /* position: inherit; */
  }

  .firstRow {
    padding: 2rem 0rem 0rem 0rem;
    /* flex: 6; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .secondRow {
    padding: 2.5rem 0rem 0.5rem 0rem;
    /* flex: 6; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .cardMain {
    /* background-color: ; */
    width: 100vw;
    height: 30rem;
  }

  .mainHeader {
    margin-left: 2rem;
    width: 70%;
  }

  .paraText{
    width: 98%;
  }

  .mainHeader {
    margin-top: 5%;
    margin-left: 3vw;
    align-self: center;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--darkBlue);
    /* border-bottom: 2px solid var(--darkBlue); */
    width: 90%;
  }
}
