.article-main{
    background-image: url("../../img/bg5.jpg");
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image within the container */
}

.article-cont{
    background: linear-gradient(
        to bottom left,
        #ffa5ab,
        #e5b2ff,
        #a5efff
      ),
      linear-gradient(360deg, #ff5733, #6dab50);
      border: white 2px solid;
}


.articles-cont{
    padding: 7rem 0rem;
}

.articles-cont p,.articles-cont h1{
    color: #652F80;
}



.card-cont-a{
    background: linear-gradient(
        to bottom right,
        rgba(167, 16, 205, 0.9),
        rgba(50, 5, 100, 0.7)
      ),
      linear-gradient(45deg, #ff5733, #6dab50);
}