.intro {
  display: flex;
  height: 50rem;
  /* margin-top: 6rem; */
  background-image: url("../../img/bg5.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  background-position: center; /* Center the image within the container */
}

.paraText-start{
  color: black !important;
}

.modal-head {
  background: linear-gradient(to bottom left, #6a82fb, #fc5c7d);
}
.modal-body {
  background: linear-gradient(to bottom right, #fc5c7d, #6a82fb);
}

.custom-modal {
  z-index: 99999; /* Adjust this value based on your needs */
}

.add-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10vw;
}

.loc-text {
  font-size: 20px;
  color: #5a3071;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  align-self: center;
}

.burst-container {
  transform: scale(1.3);
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.burst-12 {
  /* background: linear-gradient(
      to bottom right,
      rgba(167, 16, 205, 0.9),
      rgba(167, 16, 205, 0.9)
    ); */
  /* ,linear-gradient(45deg, #ff5733, #6dab50); */
  background-color: #c9184a;
  width: 100%;
  height: 110%;
  position: absolute;
  text-align: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.burst-12:before,
.burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(
    to bottom right,
    rgba(167, 16, 205, 0.9),
    rgba(167, 16, 205, 0.9)
  ); */
  background-color: #c9184a;
  animation: none;
}

.burst-12:before {
  transform: rotate(30deg);
}

.burst-12:after {
  transform: rotate(60deg);
}

.static-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* color: white; */
  font-size: 10px;
  line-height: 16px;
  width: 4rem;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

/* Add WA floating button CSS */
.floating {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 40px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  /* justify-content: center; */
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.fab-icon {
  margin-top: 16px;
}

/* Page Product button CSS */
.product-float {
  position: fixed;
  width: 70px;
  height: 50px;
  /* bottom: 40px; */
  top: 30vh;
  right: 0;
  background: linear-gradient(
      to bottom right,
      rgba(167, 16, 205, 0.9),
      rgba(50, 5, 100, 0.7)
    ),
    linear-gradient(45deg, #ff5733, #6dab50);
  color: #fff;
  border-radius: 25px 0px 0px 25px;
  /* justify-content: center; */
  text-align: center;
  font-size: 30px;
  box-shadow: -0px 0px 15px #4c0637;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product-float-text {
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.product-float:hover {
  width: 90px;
  background: linear-gradient(to bottom right, #800080, #ffc0cb),
    linear-gradient(360deg, #ff5733, #6dab50);
}

.circ-text-cont {
  display: flex;
  flex-direction: row;
}

.overlay {
  position: absolute; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  /* 105+70  here adding overlay for throughout*/
  height: 50rem;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  z-index: 0; /* Adjust the z-index to ensure it's above other content */
  pointer-events: none; /* Allows interaction with elements beneath the overlay */
}

.i-left {
  margin-top: 6rem;
  margin-left: 2rem;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  font-size: 3rem;
  color: #86078f;
  font-weight: bold;
}
.i-name > :nth-child(2) {
  font-size: 3rem;
  color: wheat;
  font-weight: bold;
}

.name {
  font-size: 3rem;
  color: wheat;
  font-weight: bold;
}
/* 
.circular-image-rect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.circular-image-rect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circular-image-rect > * {
  width: calc(
    50% - 10px
  ); /* Adjust the width as needed with some spacing between images */
  margin-bottom: 10px; /* Add margin between rows */
}

.i-name > :nth-child(3) {
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.i-button {
  width: 12rem;
  height: 3rem;
}

.i-icons {
  font-size: 60px;
  color: var(--orange);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 6rem;
  margin-left: 3rem;
  cursor: pointer;
  z-index: 9;
}

.i-icons > *:hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.i-right {
  margin-top: 6rem;
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  top: 10%;
}

.i-right > :nth-child(2) {
  top: -10%;
  left: 15%;
  border-radius: 20% 40% 20% 40%;
  transform: scale(0.8);
}

.i-right > :nth-child(3) {
  top: -10%;
  left: -15%;
  transform: scale(0.6);
}

.blur {
  position: absolute;
  width: 33rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: 0%;
  left: 46%;
}

.w-main-circle {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  background-color: white;
  top: 0%;
  left: 20%;
}

.w-sec-circle {
  /* position: absolute; */
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  /* background-color: wheat; */
  top: 0%;
  left: 5%;
  background: white;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.w-sec-circle:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.3);
}

.w-sec-circle > img {
  transform: scale(1);
}

.w-main-circle > * {
  position: absolute;
}

.w-main-circle > :nth-child(1) {
  top: -4rem;
  left: 8rem;
}

.w-main-circle > :nth-child(2) {
  top: 8rem;
  left: -4rem;
}

.w-main-circle > :nth-child(3) {
  top: 8rem;
  left: 19rem;
}

.w-main-circle > :nth-child(4) {
  top: 8rem;
  left: 8rem;
}

.w-main-circle > :nth-child(5) {
  top: 20rem;
  left: 8rem;
}

.backCircle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  z-index: -1;
}

.blueCircle {
  background-color: #781e9e;
  top: -5%;
  left: 40%;
}

.yellowCircle {
  background-color: #ffeb3a;
  top: 25%;
  left: 40%;
}

@media screen and (max-width: 1100px) {
  .w-main-circle {
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    background-color: white;
    top: 0%;
    left: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .w-main-circle {
    position: relative;
    width: 80vw;
    height: 80vw;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    background-color: white;
    top: 0%;
    left: 10vw;
  }

  .circ-text-cont {
    display: flex;
    flex-direction: column;
  }

  .i-name > :nth-child(3) {
    font-size: 16px;
    color: #5a3071;
    font-weight: 600;
  }

  .floating {
    position: fixed;
    width: 50px;
    height: 40px;
    bottom: 40px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    /* justify-content: center; */
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .product-float {
    position: fixed;
    width: 70px;
    height: 50px;
    /* bottom: 40px; */
    top: 30vh;
    right: 0;
    background: linear-gradient(
        to bottom right,
        rgba(167, 16, 205, 0.9),
        rgba(50, 5, 100, 0.7)
      ),
      linear-gradient(45deg, #ff5733, #6dab50);
    color: #fff;
    border-radius: 25px 0px 0px 25px;
    /* justify-content: center; */
    text-align: center;
    font-size: 30px;
    box-shadow: -0px 0px 15px #4c0637;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .product-float-text {
    line-height: 15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
  }

  .add-container {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
    gap: 20vw;
  }

  .w-sec-circle:hover {
    /* transition: ease-in-out 0.3s; */
    transform: scale(1);
  }

  .overlay {
    position: absolute; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    /* 105+70  here adding overlay for throughout*/
    height: 100rem;
    background-color: rgba(
      0,
      0,
      0,
      0.2
    ); /* Semi-transparent black background */
    z-index: 0; /* Adjust the z-index to ensure it's above other content */
    pointer-events: none; /* Allows interaction with elements beneath the overlay */
  }

  .w-sec-circle {
    transition: ease-in-out 0.3s;
    transform: scale(1);
  }
  /* .circular-image-rect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

  .intro {
    flex-direction: column;
    height: 100rem;
    /* gap: 7rem; */
    width: 100%;
  }
  .i-right {
    transform: scale(0.5);
    left: -5rem;
    top: -10rem;
  }
  .floating-div:nth-of-type(3) {
    transform: none !important;
    transition: none !important;
    top: 30rem !important;
  }
  .floating-div:nth-of-type(2) {
    transform: none !important;
    transition: none !important;
    top: 34rem !important;
  }
  .i-right > img:nth-child(1) {
    transform: scale(1.5);
    margin-left: 6rem;
  }
  .i-right > img:nth-child(2) {
    /* transform: scale(1.5); */
    /* margin-left: 6rem; */
    margin-top: 5rem;
  }
  .pikachuImg {
    transform: none !important;
    transition: none !important;
    /* display: none; */
    position: static;
  }
  .pikaCont {
    position: absolute;
    margin-left: -7rem;
    margin-top: -12rem;
    transform: scale(0.7) !important;
    width: 200%;
  }
  .blur {
    overflow: hidden;
    /* position: absolute;
        margin-left: -100%;
        margin-top: 50%; */
  }
  .i-icons {
    margin-left: 4.5rem;
    margin-top: 3rem;
  }
}
