@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --darkBlue: #632e7e;
  --darkerBlue: #3a0656;
  --yellow: #87e6fb;
  /* --orange : #FCA61F; */
  --orange: #9d4edd;
  /* --black : #242D49; */
  --black: #9f67d3;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  /* --orangeCard: rgba(252, 166, 31, 0.45); */
  --orangeCard: #deaaff;
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.button {
  display: flex;
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 18px;
  padding: 7px 35px 7px 35px;
  background: linear-gradient(180deg, #9d4edd 26.71%, #7b2cbf 99.36%);
  box-shadow: 0px 20px 24px 3px #deaaff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  color: var(--orange);
  background: white;
  border: 1px solid var(--orange);
}

.button-grad1 {
  display: flex;
  border-radius: 10px;
  /* border: none; */
  color: white;
  font-size: 18px;
  padding: 7px 35px 7px 35px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  /* box-shadow: 0px 20px 24px 3px #0093e9; */
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid var(--orange);
}

.button-grad1:hover {
  cursor: pointer;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #80d0c7 0%, #0093e9 100%);
  border: 1px solid var(--orange);
}

body {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(183, 54, 214, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
