.contact-container {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 100%;
  background-image: url("../../img/bg5.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  background-position: center; /* Center the image within the container */
}

.contact-left {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.contact-right {
    padding: 0rem 1rem 0rem 1rem;
  flex: 6;
  display: flex;
  flex-direction: column;
}

.button-cont{
    display: flex;
}


@media screen and (max-width:850px) {
    .button-cont{
        display: flex;transform: scale(0.6);
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        height: 55rem;
        width: 100%;
        background-image: url("../../img/bg5.jpg");
        background-size: cover; /* This ensures the image covers the entire container */
        background-position: center; /* Center the image within the container */
      }
}


@media screen and (max-width:1000px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        height: 85rem;
        width: 100%;
        background-image: url("../../img/bg5.jpg");
        background-size: cover; /* This ensures the image covers the entire container */
        background-position: center; /* Center the image within the container */
      }
}